$ash: rgb(224, 224, 224);
$ash2:rgb(184, 184, 184);
$orange: rgb(255, 187, 0);
$white: rgb(255, 255, 255);
$bg: rgb(2, 0, 12);
$bg2: rgb(24, 21, 43);


.footer{
    width: 100%;
    height: 70vh;
    background-color: $bg;
    padding: 50px 80px;
}
.contacts{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.con{
    display: flex;
    flex-direction: column;
}
.con h5{
    color: $ash;
    margin-bottom: 30px;
    font-size: 1.4rem;
}
.con a{
    text-decoration: none;
    color: $ash;
    font-size: 1.4rem;
    font-weight: 100;
}
.links{
    color: $ash;
    font-weight: 100;
    font-size: 1.4rem;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


@media (max-width:700px) {
    .footer{
        padding: 0;
    }
    .contacts{
        width: 500px;
        display: block;
        padding: 20px 50px;
    }
    .con h5{
        margin-bottom: 10px;
        margin: 10px 0;
    }
    .links{
        flex-direction: column;
    }
    
}